In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',None)

data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [10]:
data.info()

data[(data['Airline'] == 'SkyWest Airlines Inc.') & (data['Carrier_ID(DOT)'] == 20304)]
data[(data['Airline'] == 'Alaska Airlines Inc.') & (data['Carrier_ID(DOT)'] == 19930.0)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport            1000000 non-null  object
 8   Origin_Airport_ID         1000000 non-null  int64
 9   Origin_State              890985 non-null   object
 10  Destination_Airport       1000000 non-null  object
 11  Destination_Airport_ID    1000000 non-null  int64
 12  Destination_State         890921 non-null   object
 13  Distance                  1000000 non-null  float64
 14  Airline                   891080 non-null   object
 15  Carrier_Code(IATA)        891010 non-null   object
 16  Carrier_ID(DOT)           891003 non-null   float64
 17  Tail_Number               1000000 non-null  object
 18  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(9)
memory usage: 145.0+ MB

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
29,TRAIN_000029,10,20,800.0,NaN,0,0,SEA,14747,Washington,ANC,10299,Alaska,1448.0,Alaska Airlines Inc.,AS,19930.0,N457AS,NaN
33,TRAIN_000033,4,12,2158.0,545.0,0,0,LAX,12892,California,FLL,11697,Florida,2343.0,Alaska Airlines Inc.,AS,19930.0,N621VA,NaN
57,TRAIN_000057,11,26,2310.0,704.0,0,0,KOA,12758,NaN,SEA,14747,Washington,2688.0,Alaska Airlines Inc.,AS,19930.0,N588AS,NaN
67,TRAIN_000067,6,24,50.0,520.0,0,0,ANC,10299,Alaska,SEA,14747,Washington,1448.0,Alaska Airlines Inc.,AS,19930.0,N280AK,Not_Delayed
76,TRAIN_000076,11,16,1745.0,2130.0,0,0,EWR,11618,New Jersey,SFO,14771,California,2565.0,Alaska Airlines Inc.,AS,19930.0,N517AS,Not_Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999617,TRAIN_999617,10,12,1135.0,1215.0,0,0,PSG,14256,Alaska,JNU,12523,Alaska,123.0,Alaska Airlines Inc.,AS,19930.0,N615AS,NaN
999770,TRAIN_999770,5,28,1025.0,1345.0,0,0,SEA,14747,NaN,OGG,13830,Hawaii,2640.0,Alaska Airlines Inc.,AS,19930.0,N594AS,NaN
999797,TRAIN_999797,4,10,1145.0,1315.0,0,0,LAX,12892,NaN,SFO,14771,California,337.0,Alaska Airlines Inc.,AS,19930.0,N523AS,NaN
999798,TRAIN_999798,7,25,1748.0,2033.0,0,0,RDU,14492,North Carolina,SEA,14747,Washington,2354.0,Alaska Airlines Inc.,AS,19930.0,N440AS,NaN
999975,TRAIN_999975,1,2,1530.0,1630.0,0,0,SEA,14747,Washington,KTN,12819,Alaska,680.0,Alaska Airlines Inc.,AS,19930.0,N524AS,NaN

# 데이터 전처리 파이프라인

In [153]:
from tqdm import tqdm
from datetime import datetime, timedelta
pd.set_option('mode.chained_assignment',  None)
class Processing:
    def __init__(self, x, test): # 이후 테스트 데이터도 넣는 버전 만들어야함
        self.x = x.set_index('ID')
        self.test = test
        
    
    def dummy(self):
        # 디버깅용 함수
        # airline, carrier id, state(출발,도착) 채워줌 
        # 캐리어 코드, 시간 채우는거 해야함
        data = self.fill_airline_and_id(self.x)
        data = self.fill_state(data)
        
        return data
    
    def time_padding(self, data):
        # 시간 패딩
        data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].fillna(0)
        data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(int)
        data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = data[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(str)
        data['Estimated_Departure_Time'] = data['Estimated_Departure_Time'].str.pad(width=4, side='left', fillchar='0')
        data['Estimated_Arrival_Time'] = data['Estimated_Arrival_Time'].str.pad(width=4, side='left', fillchar='0')
        
        # 시간 둘 다 NULL값인 경우 제거함.
        # 제거하면 안될듯. 테스트데이터에도 있어서 어떻게든 해야함
        # 방안 1. 빈도수 높은거나 규칙에 따라 채운다.
        # 방안 2. 그냥 0으로 채우고 돌린다.
        data = data[~((data['Estimated_Departure_Time'] == '0000') & (data['Estimated_Arrival_Time'] == '0000'))]
        
        return data
    
    def fill_airline_and_id(self, data):
        '''
        Carrier ID - Airline 한 세트
        Carrier Code는 항공사, ID 겹침..
        '''
        for airline in data['Airline'].dropna().unique():

            id = data.loc[data['Airline'] == airline, 'Carrier_ID(DOT)'].dropna().unique()
        

            data.loc[data['Airline'] == airline, 'Carrier_ID(DOT)'] = id[0]
                

        for id in data['Carrier_ID(DOT)'].dropna().unique():

            
            airline = data.loc[data['Carrier_ID(DOT)'] == id, 'Airline'].dropna().unique()

            data.loc[data['Carrier_ID(DOT)'] == id, 'Airline'] = airline[0]
                        
    
        return data
    
    def fill_state(self, data):
        for id in data['Origin_Airport_ID'].dropna().unique():
            data.loc[data['Origin_Airport_ID'] == id, 'Origin_State'] = data.loc[data['Origin_Airport_ID'] == id, 'Origin_State'].unique()[0]
        
        for id in data['Destination_Airport_ID'].dropna().unique():
            data.loc[data['Destination_Airport_ID'] == id, 'Destination_State'] = data.loc[data['Destination_Airport_ID'] == id, 'Destination_State'].unique()[0]
        
        return data
        

    def diff_time(self, df):
    
        time = timedelta(hours=df['H'], minutes=df['M']) - timedelta(hours=df['h'], minutes=df['m'])
        # print(time)
        time = round(time.total_seconds())
        
        hours = time // 3600
        minutes = (time % 3600) // 60
        
        if hours < 0:
            hours += 24
        
        # if minutes < 0:
        #     minutes += 60
        return hours, minutes 
        
    
    
    def make_noise_zero_data(self):
        # 시간 NULL값 없는 경우만 뽑음
        # nzdata = self.x[~(self.x(['Estimated_Departure_Time'] == '0000') | (self.x['Estimated_Arrival_Time'] == '0000'))]
        nzdata = self.x[~((self.x['Estimated_Departure_Time'] == '0000') | (self.x['Estimated_Arrival_Time'] == '0000'))]
        nzdata = self.make_time_feature(nzdata)
        time = nzdata.apply(self.diff_time, axis=1, result_type='expand')
        nzdata['diff_hour'] = time[0]
        nzdata['diff_minute'] = time[1]
        
        return nzdata
        

    
    def make_time_feature(self, data):
        data['h'] = [data['Estimated_Departure_Time'][i][:2] for i in range(len(data))]
        data['m'] = [data['Estimated_Departure_Time'][i][2:] for i in range(len(data))]
        data['H'] = [data['Estimated_Arrival_Time'][i][:2] for i in range(len(data))]
        data['M'] = [data['Estimated_Arrival_Time'][i][2:] for i in range(len(data))]

        data['h'] = data['h'].astype(int)
        data['m'] = data['m'].astype(int)
        data['H'] = data['H'].astype(int)
        data['M'] = data['M'].astype(int)

        return data
    
    def fill_time(self):
        print('시간 전처리')
        x = self.make_time_feature(self.x)
        check = self.make_noise_zero_data()
        
        # 출발시간
        print('출발시간')
        idx = x[x['Estimated_Departure_Time'] == '0000'].index
        for i in tqdm(idx):
            at = x.loc[i, 'Estimated_Arrival_Time']
            dt = x.loc[i, 'Estimated_Departure_Time']
            oa = x.loc[i, 'Origin_Airport']
            da = x.loc[i, 'Destination_Airport']
            al = x.loc[i, 'Airline']
            
            check_data = check[(check['Origin_Airport'] == oa) & (check['Destination_Airport'] == da) & (check['Airline'] == al)]
            # print(check_data)
            
            # 동일 시간 존재 시 동일한 수로 대체 (복수 존재 시 제일 많은걸로)
            insert_time = check_data.loc[check_data['Estimated_Arrival_Time'] == at, 'Estimated_Departure_Time']
            if len(insert_time) != 0:
                try:
                    x.loc[i, 'Estimated_Departure_Time'] = insert_time.value_counts().index.drop('0000')[0]
                
                except:

                    
                    x.loc[i, 'Estimated_Departure_Time'] = insert_time.value_counts().index[0]
                    
                x.loc[i, 'h'] = int(x.loc[i, 'Estimated_Departure_Time'][:2])
                x.loc[i, 'm'] = int(x.loc[i, 'Estimated_Departure_Time'][2:])
                
            # 가장 빈도수 높은 경과시간으로 계산하여 대체
            elif len(insert_time) == 0:
                

                try:
                    x.loc[i, 'Estimated_Departure_Time'] = check_data['Estimated_Departure_Time'].value_counts().index.drop('0000')[0]
                
                except:
                    print(at, dt, oa, da, al)
                    print(insert_time.value_counts())
                    print(insert_time.value_counts().index[0])
                    x.loc[i, 'Estimated_Departure_Time'] = check_data['Estimated_Departure_Time'].value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Departure_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Departure_Time'][2:])
            
            # 동일 시간 없을 시 평균 경과시간으로 대체
            # elif len(insert_time) == 0:
            #     ht = round(check_data['diff_hour'].mean())
            #     mt = round(check_data['diff_minute'].mean())
                
            #     insert_time =  timedelta(hours=x.loc[i, 'H'], minutes=x.loc[i, 'M']) - timedelta(hours=ht, minutes=mt)
            #     insert_time = round(insert_time.total_seconds())
            #     hours = insert_time // 3600
            #     minutes = (insert_time % 3600) // 60
                
            #     if hours < 0:
            #         hours += 24

            #     x.loc[i, 'h'] = hours
            #     x.loc[i, 'm'] = minutes
                
                
        # 도착시간
        print('도착시간')
        idx = x[x['Estimated_Arrival_Time'] == '0000'].index
        for i in tqdm(idx):
            at = x.loc[i, 'Estimated_Arrival_Time']
            dt = x.loc[i, 'Estimated_Departure_Time']
            oa = x.loc[i, 'Origin_Airport']
            da = x.loc[i, 'Destination_Airport']
            al = x.loc[i, 'Airline']
            
            check_data = check[(check['Origin_Airport'] == oa) & (check['Destination_Airport'] == da) & (check['Airline'] == al)]
            # 동일 시간 존재 시 동일한 수로 대체 (복수 존재 시 제일 많은걸로)
            insert_time = check_data.loc[check_data['Estimated_Departure_Time'] == dt, 'Estimated_Arrival_Time']
            if len(insert_time) != 0:
                try:
                    x.loc[i, 'Estimated_Arrival_Time'] = insert_time.value_counts().index.drop('0000')[0]
                
                except:
                    x.loc[i, 'Estimated_Arrival_Time'] = insert_time.value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Arrival_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Arrival_Time'][2:])
            
            # 가장 빈도수 높은 경과시간으로 계산하여 대체
            elif len(insert_time) == 0:
                try:
                    x.loc[i, 'Estimated_Arrival_Time'] = check_data['Estimated_Arrival_Time'].value_counts().index.drop('0000')[0]
                
                except:
                    x.loc[i, 'Estimated_Arrival_Time'] = check_data['Estimated_Arrival_Time'].value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Arrival_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Arrival_Time'][2:])
            
            
            
            
            # 동일 시간 없을 시 평균 경과시간으로 대체
            # elif len(insert_time) == 0:
            #     ht = round(check_data['diff_hour'].mean())
            #     mt = round(check_data['diff_minute'].mean())
                
            #     # 23 50 / 1 40 -> 1 50
                
            #     insert_time =  timedelta(hours=x.loc[i, 'h'], minutes=x.loc[i, 'm']) + timedelta(hours=ht, minutes=mt)
            #     insert_time = round(insert_time.total_seconds())
                    
            #     hours = insert_time // 3600
            #     minutes = (insert_time % 3600) // 60
                
            #     if hours > 24:
            #         hours -= 24

            #     x.loc[i, 'h'] = hours
            #     x.loc[i, 'm'] = minutes
                
        return x
    
    
    def testset_processing(self):
        pass

In [154]:
pc = Processing(data, test)

ddata = pc.dummy()

In [155]:
ddata

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
ID,,,,,,,,,,,,,,,,,,
TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,19977.0,N595UA,NaN
TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,Illinois,PHL,14100,Pennsylvania,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,North Dakota,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,20304.0,N439SW,NaN
TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,California,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,NaN,ATL,10397,Georgia,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,Delta Air Lines Inc.,DL,19790.0,N695DL,NaN

# dummy

In [7]:
'''
케리어 ID, 케리어 코드, 항공사 - 한 세트
도착 공항, 도착 항공 아이디, 지역 - 한 세트(출발 동일)
'''

# def fill_null_carrier(x):
    
    
data[['Airline', 'Carrier_Code(IATA)', 'Carrier_ID(DOT)']].value_counts().to_frame()

                                                                                   0
Airline                                   Carrier_Code(IATA) Carrier_ID(DOT)
Southwest Airlines Co.                    WN                 19393.0          144837
Delta Air Lines Inc.                      DL                 19790.0           71282
United Air Lines Inc.                     UA                 19977.0           66749
American Airlines Inc.                    AA                 19805.0           65726
JetBlue Airways                           B6                 20409.0           32993
SkyWest Airlines Inc.                     UA                 20304.0           31285
                                          DL                 20304.0           24934
Alaska Airlines Inc.                      AS                 19930.0           23213
Envoy Air                                 AA                 20398.0           21835
Spirit Air Lines                          NK                 20416.0           19824
Comair Inc.                               AA                 20397.0           19701
Endeavor Air Inc.                         DL                 20363.0           18427
ExpressJet Airlines Inc.                  UA                 20366.0           14615
Frontier Airlines Inc.                    F9                 20436.0           13797
Republic Airlines                         UA                 20452.0           11972
Mesa Airlines Inc.                        UA                 20378.0           11512
Allegiant Air                             G4                 20368.0           10858
Air Wisconsin Airlines Corp               UA                 20046.0           10615
Horizon Air                               AS                 19687.0           10368
Republic Airlines                         AA                 20452.0            9935
Hawaiian Airlines Inc.                    HA                 19690.0            8672
SkyWest Airlines Inc.                     AA                 20304.0            8068
Mesa Airlines Inc.                        AA                 20378.0            8051
Capital Cargo International               AA                 20427.0            7852
Trans States Airlines                     UA                 20237.0            7057
Commutair Aka Champlain Enterprises, Inc. UA                 20445.0            5654
Republic Airlines                         DL                 20452.0            4697
SkyWest Airlines Inc.                     AS                 20304.0            4614
Compass Airlines                          DL                 21167.0            4528
GoJet Airlines, LLC d/b/a United Express  UA                 20500.0            4135
                                          DL                 20500.0            3496
Compass Airlines                          AA                 21167.0            2479
Virgin America                            VX                 21171.0            1053
Empire Airlines Inc.                      HA                 20263.0             844
ExpressJet Airlines Inc.                  DL                 20366.0             719
                                          AA                 20366.0             662
Trans States Airlines                     AA                 20237.0             330
Peninsula Airways Inc.                    AS                 20225.0             109
Cape Air                                  UA                 20253.0              96

In [12]:
for airline in data['Airline'].unique():
    print(airline)
    print(data[data['Airline'] == airline][['Carrier_Code(IATA)', 'Carrier_ID(DOT)']].value_counts())
    print('-'*50)

Southwest Airlines Co.
Carrier_Code(IATA)  Carrier_ID(DOT)
WN                  19393.0            144837
dtype: int64
--------------------------------------------------
SkyWest Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20304.0            31285
DL                  20304.0            24934
AA                  20304.0             8068
AS                  20304.0             4614
dtype: int64
--------------------------------------------------
American Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
AA                  19805.0            65726
dtype: int64
--------------------------------------------------
United Air Lines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  19977.0            66749
dtype: int64
--------------------------------------------------
Republic Airlines
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20452.0            11972
AA                  20452.0             9935
DL                  20452.0             4697
dtype: int64
--------------------------------------------------
nan
Series([], dtype: int64)
--------------------------------------------------
ExpressJet Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20366.0            14615
DL                  20366.0              719
AA                  20366.0              662
dtype: int64
--------------------------------------------------
Delta Air Lines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
DL                  19790.0            71282
dtype: int64
--------------------------------------------------
Air Wisconsin Airlines Corp
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20046.0            10615
dtype: int64
--------------------------------------------------
Horizon Air
Carrier_Code(IATA)  Carrier_ID(DOT)
AS                  19687.0            10368
dtype: int64
--------------------------------------------------
JetBlue Airways
Carrier_Code(IATA)  Carrier_ID(DOT)
B6                  20409.0            32993
dtype: int64
--------------------------------------------------
Spirit Air Lines
Carrier_Code(IATA)  Carrier_ID(DOT)
NK                  20416.0            19824
dtype: int64
--------------------------------------------------
Alaska Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
AS                  19930.0            23213
dtype: int64
--------------------------------------------------
Mesa Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20378.0            11512
AA                  20378.0             8051
dtype: int64
--------------------------------------------------
Frontier Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
F9                  20436.0            13797
dtype: int64
--------------------------------------------------
Trans States Airlines
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20237.0            7057
AA                  20237.0             330
dtype: int64
--------------------------------------------------
Endeavor Air Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
DL                  20363.0            18427
dtype: int64
--------------------------------------------------
Comair Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
AA                  20397.0            19701
dtype: int64
--------------------------------------------------
Capital Cargo International
Carrier_Code(IATA)  Carrier_ID(DOT)
AA                  20427.0            7852
dtype: int64
--------------------------------------------------
Envoy Air
Carrier_Code(IATA)  Carrier_ID(DOT)
AA                  20398.0            21835
dtype: int64
--------------------------------------------------
Hawaiian Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
HA                  19690.0            8672
dtype: int64
--------------------------------------------------
Allegiant Air
Carrier_Code(IATA)  Carrier_ID(DOT)
G4                  20368.0            10858
dtype: int64
--------------------------------------------------
Virgin America
Carrier_Code(IATA)  Carrier_ID(DOT)
VX                  21171.0            1053
dtype: int64
--------------------------------------------------
Peninsula Airways Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
AS                  20225.0            109
dtype: int64
--------------------------------------------------
Compass Airlines
Carrier_Code(IATA)  Carrier_ID(DOT)
DL                  21167.0            4528
AA                  21167.0            2479
dtype: int64
--------------------------------------------------
GoJet Airlines, LLC d/b/a United Express
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20500.0            4135
DL                  20500.0            3496
dtype: int64
--------------------------------------------------
Commutair Aka Champlain Enterprises, Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20445.0            5654
dtype: int64
--------------------------------------------------
Empire Airlines Inc.
Carrier_Code(IATA)  Carrier_ID(DOT)
HA                  20263.0            844
dtype: int64
--------------------------------------------------
Cape Air
Carrier_Code(IATA)  Carrier_ID(DOT)
UA                  20253.0            96
dtype: int64
--------------------------------------------------

In [13]:
for airline in data['Carrier_ID(DOT)'].unique():
    print(airline)
    print(data[data['Carrier_ID(DOT)'] == airline][['Airline']].value_counts())
    print('-'*50)

19393.0
Airline
Southwest Airlines Co.    162329
dtype: int64
--------------------------------------------------
20304.0
Airline
SkyWest Airlines Inc.    77422
dtype: int64
--------------------------------------------------
19805.0
Airline
American Airlines Inc.    73835
dtype: int64
--------------------------------------------------
nan
Series([], dtype: int64)
--------------------------------------------------
20452.0
Airline
Republic Airlines    29806
dtype: int64
--------------------------------------------------
20366.0
Airline
ExpressJet Airlines Inc.    17965
dtype: int64
--------------------------------------------------
19790.0
Airline
Delta Air Lines Inc.    80026
dtype: int64
--------------------------------------------------
20046.0
Airline
Air Wisconsin Airlines Corp    11894
dtype: int64
--------------------------------------------------
19687.0
Airline
Horizon Air    11692
dtype: int64
--------------------------------------------------
20409.0
Airline
JetBlue Airways    37122
dtype: int64
--------------------------------------------------
20416.0
Airline
Spirit Air Lines    22217
dtype: int64
--------------------------------------------------
19930.0
Airline
Alaska Airlines Inc.    25954
dtype: int64
--------------------------------------------------
19977.0
Airline
United Air Lines Inc.    74823
dtype: int64
--------------------------------------------------
20378.0
Airline
Mesa Airlines Inc.    22018
dtype: int64
--------------------------------------------------
20436.0
Airline
Frontier Airlines Inc.    15498
dtype: int64
--------------------------------------------------
20237.0
Airline
Trans States Airlines    8324
dtype: int64
--------------------------------------------------
20397.0
Airline
Comair Inc.    22030
dtype: int64
--------------------------------------------------
20363.0
Airline
Endeavor Air Inc.    20650
dtype: int64
--------------------------------------------------
20427.0
Airline
Capital Cargo International    8884
dtype: int64
--------------------------------------------------
20398.0
Airline
Envoy Air    24455
dtype: int64
--------------------------------------------------
19690.0
Airline
Hawaiian Airlines Inc.    9719
dtype: int64
--------------------------------------------------
20368.0
Airline
Allegiant Air    12182
dtype: int64
--------------------------------------------------
21171.0
Airline
Virgin America    1173
dtype: int64
--------------------------------------------------
20225.0
Airline
Peninsula Airways Inc.    124
dtype: int64
--------------------------------------------------
21167.0
Airline
Compass Airlines    7898
dtype: int64
--------------------------------------------------
20500.0
Airline
GoJet Airlines, LLC d/b/a United Express    8539
dtype: int64
--------------------------------------------------
20445.0
Airline
Commutair Aka Champlain Enterprises, Inc.    6340
dtype: int64
--------------------------------------------------
20263.0
Airline
Empire Airlines Inc.    940
dtype: int64
--------------------------------------------------
20253.0
Airline
Cape Air    107
dtype: int64
--------------------------------------------------

In [14]:
for airline in data['Airline'].unique():
    print(airline)
    print(data[data['Airline'] == airline][['Carrier_ID(DOT)']].value_counts())
    print('-'*50)

Southwest Airlines Co.
Carrier_ID(DOT)
19393.0            162329
dtype: int64
--------------------------------------------------
SkyWest Airlines Inc.
Carrier_ID(DOT)
20304.0            77422
dtype: int64
--------------------------------------------------
American Airlines Inc.
Carrier_ID(DOT)
19805.0            73835
dtype: int64
--------------------------------------------------
United Air Lines Inc.
Carrier_ID(DOT)
19977.0            74823
dtype: int64
--------------------------------------------------
Republic Airlines
Carrier_ID(DOT)
20452.0            29806
dtype: int64
--------------------------------------------------
nan
Series([], dtype: int64)
--------------------------------------------------
ExpressJet Airlines Inc.
Carrier_ID(DOT)
20366.0            17965
dtype: int64
--------------------------------------------------
Delta Air Lines Inc.
Carrier_ID(DOT)
19790.0            80026
dtype: int64
--------------------------------------------------
Air Wisconsin Airlines Corp
Carrier_ID(DOT)
20046.0            11894
dtype: int64
--------------------------------------------------
Horizon Air
Carrier_ID(DOT)
19687.0            11692
dtype: int64
--------------------------------------------------
JetBlue Airways
Carrier_ID(DOT)
20409.0            37122
dtype: int64
--------------------------------------------------
Spirit Air Lines
Carrier_ID(DOT)
20416.0            22217
dtype: int64
--------------------------------------------------
Alaska Airlines Inc.
Carrier_ID(DOT)
19930.0            25954
dtype: int64
--------------------------------------------------
Mesa Airlines Inc.
Carrier_ID(DOT)
20378.0            22018
dtype: int64
--------------------------------------------------
Frontier Airlines Inc.
Carrier_ID(DOT)
20436.0            15498
dtype: int64
--------------------------------------------------
Trans States Airlines
Carrier_ID(DOT)
20237.0            8324
dtype: int64
--------------------------------------------------
Endeavor Air Inc.
Carrier_ID(DOT)
20363.0            20650
dtype: int64
--------------------------------------------------
Comair Inc.
Carrier_ID(DOT)
20397.0            22030
dtype: int64
--------------------------------------------------
Capital Cargo International
Carrier_ID(DOT)
20427.0            8884
dtype: int64
--------------------------------------------------
Envoy Air
Carrier_ID(DOT)
20398.0            24455
dtype: int64
--------------------------------------------------
Hawaiian Airlines Inc.
Carrier_ID(DOT)
19690.0            9719
dtype: int64
--------------------------------------------------
Allegiant Air
Carrier_ID(DOT)
20368.0            12182
dtype: int64
--------------------------------------------------
Virgin America
Carrier_ID(DOT)
21171.0            1173
dtype: int64
--------------------------------------------------
Peninsula Airways Inc.
Carrier_ID(DOT)
20225.0            124
dtype: int64
--------------------------------------------------
Compass Airlines
Carrier_ID(DOT)
21167.0            7898
dtype: int64
--------------------------------------------------
GoJet Airlines, LLC d/b/a United Express
Carrier_ID(DOT)
20500.0            8539
dtype: int64
--------------------------------------------------
Commutair Aka Champlain Enterprises, Inc.
Carrier_ID(DOT)
20445.0            6340
dtype: int64
--------------------------------------------------
Empire Airlines Inc.
Carrier_ID(DOT)
20263.0            940
dtype: int64
--------------------------------------------------
Cape Air
Carrier_ID(DOT)
20253.0            107
dtype: int64
--------------------------------------------------

In [19]:
for id in data['Destination_Airport_ID'].unique():
    print(data[data['Destination_Airport_ID'] == id]['Destination_State'].unique())
    print(data[data['Destination_Airport_ID'] == id]['Destination_Airport'].unique())
    print('-'*50)

['Texas' nan]
['HOU']
--------------------------------------------------
['Utah' nan]
['SLC']
--------------------------------------------------
['New York' nan]
['LGA']
--------------------------------------------------
['New Jersey' nan]
['EWR']
--------------------------------------------------
['California' nan]
['ACV']
--------------------------------------------------
['Virginia' nan]
['DCA']
--------------------------------------------------
['Massachusetts' nan]
['BOS']
--------------------------------------------------
['Missouri' nan]
['MCI']
--------------------------------------------------
['North Carolina' nan]
['CLT']
--------------------------------------------------
['Texas' nan]
['IAH']
--------------------------------------------------
['Pennsylvania' nan]
['PIT']
--------------------------------------------------
['Michigan' nan]
['DTW']
--------------------------------------------------
['Colorado' nan]
['DEN']
--------------------------------------------------
['Nevada' nan]
['LAS']
--------------------------------------------------
['Florida' nan]
['JAX']
--------------------------------------------------
[nan 'Illinois']
['ORD']
--------------------------------------------------
['Georgia' nan]
['ATL']
--------------------------------------------------
[nan 'Arizona']
['PHX']
--------------------------------------------------
['Virginia' nan]
['IAD']
--------------------------------------------------
['Alabama' nan]
['BHM']
--------------------------------------------------
['Washington' nan]
['SEA']
--------------------------------------------------
['Nevada' nan]
['RNO']
--------------------------------------------------
['Alaska' nan]
['ANC']
--------------------------------------------------
['New York' nan]
['JFK']
--------------------------------------------------
['Kentucky' nan]
['LEX']
--------------------------------------------------
['Florida' nan]
['FLL']
--------------------------------------------------
['California' nan]
['SNA']
--------------------------------------------------
['Oregon' nan]
['PDX']
--------------------------------------------------
['Oklahoma' nan]
['TUL']
--------------------------------------------------
['California' nan]
['SMF']
--------------------------------------------------
['California' nan]
['LAX']
--------------------------------------------------
['Texas' nan]
['SAT']
--------------------------------------------------
['Missouri' nan]
['STL']
--------------------------------------------------
['California' nan]
['SFO']
--------------------------------------------------
['Rhode Island' nan]
['PVD']
--------------------------------------------------
['Kentucky' nan]
['SDF']
--------------------------------------------------
['Texas' nan]
['DFW']
--------------------------------------------------
[nan 'Arkansas']
['LIT']
--------------------------------------------------
['Tennessee' nan]
['BNA']
--------------------------------------------------
['Minnesota' nan]
['MSP']
--------------------------------------------------
['Florida' nan]
['MCO']
--------------------------------------------------
['Pennsylvania' nan]
['PHL']
--------------------------------------------------
['New York' nan]
['ROC']
--------------------------------------------------
['California' nan]
['BUR']
--------------------------------------------------
['Indiana' nan]
['IND']
--------------------------------------------------
['Massachusetts' nan]
['HYA']
--------------------------------------------------
['Ohio' nan]
['DAY']
--------------------------------------------------
['Maryland' nan]
['BWI']
--------------------------------------------------
['Texas' nan]
['DAL']
--------------------------------------------------
['Tennessee' nan]
['CHA']
--------------------------------------------------
['Virginia' nan]
['ORF']
--------------------------------------------------
['Ohio' nan]
['CMH']
--------------------------------------------------
[nan 'Illinois']
['MDW']
--------------------------------------------------
['Texas' nan]
['AUS']
--------------------------------------------------
['Hawaii' nan]
['KOA']
--------------------------------------------------
['California' nan]
['SBP']
--------------------------------------------------
['Connecticut' nan]
['BDL']
--------------------------------------------------
['California' nan]
['OAK']
--------------------------------------------------
['New Hampshire' nan]
['MHT']
--------------------------------------------------
['Texas' nan]
['CLL']
--------------------------------------------------
['California' nan]
['ONT']
--------------------------------------------------
['California' nan]
['SAN']
--------------------------------------------------
['West Virginia' nan]
['CRW']
--------------------------------------------------
['Florida' nan]
['MIA']
--------------------------------------------------
['Michigan' nan]
['FNT']
--------------------------------------------------
['North Dakota' nan]
['JMS']
--------------------------------------------------
['Florida' nan]
['TPA']
--------------------------------------------------
['California' nan]
['SJC']
--------------------------------------------------
['Kentucky' nan]
['CVG']
--------------------------------------------------
['New Mexico' nan]
['ABQ']
--------------------------------------------------
['Indiana' nan]
['EVV']
--------------------------------------------------
['Hawaii' nan]
['OGG']
--------------------------------------------------
['New York' nan]
['BUF']
--------------------------------------------------
['South Carolina' nan]
['GSP']
--------------------------------------------------
['Hawaii' nan]
['HNL']
--------------------------------------------------
['Montana' nan]
['BIL']
--------------------------------------------------
['Ohio' nan]
['CLE']
--------------------------------------------------
['West Virginia' nan]
['LWB']
--------------------------------------------------
['Wisconsin' nan]
['MKE']
--------------------------------------------------
['Florida' nan]
['RSW']
--------------------------------------------------
['North Carolina' nan]
['RDU']
--------------------------------------------------
[nan 'Washington']
['GEG']
--------------------------------------------------
['North Carolina' nan]
['PGV']
--------------------------------------------------
['Maine' nan]
['BGR']
--------------------------------------------------
['Illinois' nan]
['UIN']
--------------------------------------------------
['Nebraska' nan]
['OMA']
--------------------------------------------------
['Texas' nan]
['HRL']
--------------------------------------------------
['Texas' nan]
['CRP']
--------------------------------------------------
['Arkansas' nan]
['XNA']
--------------------------------------------------
['Illinois' nan]
['MLI']
--------------------------------------------------
['Alaska' nan]
['DUT']
--------------------------------------------------
['Oklahoma' nan]
['OKC']
--------------------------------------------------
['California' nan]
['LGB']
--------------------------------------------------
['Mississippi' nan]
['GTR']
--------------------------------------------------
['Texas' nan]
['DRT']
--------------------------------------------------
['Virginia' nan]
['ROA']
--------------------------------------------------
['North Carolina' nan]
['ILM']
--------------------------------------------------
['California' nan]
['SBA']
--------------------------------------------------
['California' nan]
['FAT']
--------------------------------------------------
['Pennsylvania' nan]
['ERI']
--------------------------------------------------
['Nebraska' nan]
['GRI']
--------------------------------------------------
['Texas' nan]
['AMA']
--------------------------------------------------
['Tennessee' nan]
['TYS']
--------------------------------------------------
[nan 'California']
['PSP']
--------------------------------------------------
['Florida' nan]
['SFB']
--------------------------------------------------
['Montana' nan]
['GTF']
--------------------------------------------------
['Hawaii' nan]
['LIH']
--------------------------------------------------
['North Dakota' nan]
['BIS']
--------------------------------------------------
[nan 'Louisiana']
['MSY']
--------------------------------------------------
[nan 'Michigan']
['GRR']
--------------------------------------------------
['Texas' nan]
['ABI']
--------------------------------------------------
['Florida' nan]
['PBI']
--------------------------------------------------
[nan 'South Carolina']
['MYR']
--------------------------------------------------
['Pennsylvania' nan]
['SCE']
--------------------------------------------------
['Florida' nan]
['ECP']
--------------------------------------------------
[nan 'South Carolina']
['CAE']
--------------------------------------------------
['Texas' nan]
['LBB']
--------------------------------------------------
[nan 'New York']
['ALB']
--------------------------------------------------
['Georgia' nan]
['SAV']
--------------------------------------------------
['Florida' nan]
['PIE']
--------------------------------------------------
['Virginia' nan]
['RIC']
--------------------------------------------------
['Washington' nan]
['PAE']
--------------------------------------------------
['Colorado' nan]
['COS']
--------------------------------------------------
['Colorado' nan]
['ASE']
--------------------------------------------------
[nan 'Mississippi']
['MEI']
--------------------------------------------------
['Mississippi' nan]
['JAN']
--------------------------------------------------
['Puerto Rico' nan]
['SJU']
--------------------------------------------------
['Pennsylvania' nan]
['MDT']
--------------------------------------------------
['Ohio' nan]
['TOL']
--------------------------------------------------
['North Carolina' nan]
['GSO']
--------------------------------------------------
['South Dakota' nan]
['FSD']
--------------------------------------------------
['Alaska' nan]
['JNU']
--------------------------------------------------
['Washington' nan]
['ALW']
--------------------------------------------------
['Florida' nan]
['EYW']
--------------------------------------------------
['Louisiana' nan]
['SHV']
--------------------------------------------------
['Tennessee' nan]
['MEM']
--------------------------------------------------
['Missouri' nan]
['SGF']
--------------------------------------------------
['Illinois' nan]
['BMI']
--------------------------------------------------
['California' nan]
['BFL']
--------------------------------------------------
['Wyoming' nan]
['JAC']
--------------------------------------------------
['Maine' nan]
['PWM']
--------------------------------------------------
['Illinois' nan]
['PIA']
--------------------------------------------------
['Idaho' nan]
['BOI']
--------------------------------------------------
[nan 'Hawaii']
['ITO']
--------------------------------------------------
['New York' nan]
['ITH']
--------------------------------------------------
[nan 'Virginia']
['SHD']
--------------------------------------------------
['Ohio' nan]
['CAK']
--------------------------------------------------
['Wyoming' nan]
['LAR']
--------------------------------------------------
['Montana' nan]
['BZN']
--------------------------------------------------
['South Carolina' nan]
['CHS']
--------------------------------------------------
['Texas' nan]
['MAF']
--------------------------------------------------
['California' nan]
['STS']
--------------------------------------------------
[nan 'Pennsylvania']
['AVP']
--------------------------------------------------
[nan 'California']
['MRY']
--------------------------------------------------
[nan 'Oregon']
['EUG']
--------------------------------------------------
['Kansas' nan]
['ICT']
--------------------------------------------------
['Louisiana' nan]
['LFT']
--------------------------------------------------
['Nevada' nan]
['EKO']
--------------------------------------------------
['Louisiana' nan]
['BTR']
--------------------------------------------------
['Washington' nan]
['BLI']
--------------------------------------------------
['Wisconsin' nan]
['EAU']
--------------------------------------------------
['Alaska' nan]
['WRG']
--------------------------------------------------
['Florida' nan]
['PNS']
--------------------------------------------------
['Virginia' nan]
['CHO']
--------------------------------------------------
['Kentucky' nan]
['PAH']
--------------------------------------------------
['North Dakota' nan]
['MOT']
--------------------------------------------------
['Kansas' nan]
['LBL']
--------------------------------------------------
['Michigan' nan]
['AZO']
--------------------------------------------------
['Puerto Rico' nan]
['PSE']
--------------------------------------------------
['North Carolina' nan]
['OAJ']
--------------------------------------------------
['Michigan' nan]
['CMX']
--------------------------------------------------
['Iowa' nan]
['DSM']
--------------------------------------------------
['Missouri' nan]
['COU']
--------------------------------------------------
['Alaska' nan]
['BRW']
--------------------------------------------------
['Pennsylvania' nan]
['ABE']
--------------------------------------------------
['Indiana' nan]
['FWA']
--------------------------------------------------
['Michigan' nan]
['MBS']
--------------------------------------------------
['North Carolina' nan]
['AVL']
--------------------------------------------------
['Oregon' nan]
['RDM']
--------------------------------------------------
['New Mexico' nan]
['HOB']
--------------------------------------------------
['Texas' nan]
['LRD']
--------------------------------------------------
[nan 'Wyoming']
['GCC']
--------------------------------------------------
['Washington' nan]
['PSC']
--------------------------------------------------
['Colorado' nan]
['DRO']
--------------------------------------------------
['Arizona' nan]
['AZA']
--------------------------------------------------
[nan 'New Hampshire']
['PSM']
--------------------------------------------------
['Idaho' nan]
['IDA']
--------------------------------------------------
['New York' nan]
['ISP']
--------------------------------------------------
['Alabama' nan]
['HSV']
--------------------------------------------------
[nan 'Minnesota']
['RST']
--------------------------------------------------
['Florida' nan]
['SRQ']
--------------------------------------------------
['West Virginia' nan]
['CKB']
--------------------------------------------------
['New York' nan]
['SYR']
--------------------------------------------------
[nan 'New York']
['ELM']
--------------------------------------------------
['Florida' nan]
['MLB']
--------------------------------------------------
['Montana' nan]
['FCA']
--------------------------------------------------
['Louisiana' nan]
['AEX']
--------------------------------------------------
[nan 'Iowa']
['CID']
--------------------------------------------------
['Alaska' nan]
['KTN']
--------------------------------------------------
['California' nan]
['RDD']
--------------------------------------------------
['Wisconsin' nan]
['ATW']
--------------------------------------------------
['New Jersey' nan]
['ACY']
--------------------------------------------------
['North Carolina' nan]
['EWN']
--------------------------------------------------
['New Mexico' nan]
['SAF']
--------------------------------------------------
['Alabama' nan]
['MGM']
--------------------------------------------------
['Texas' nan]
['ELP']
--------------------------------------------------
['Mississippi' nan]
['GPT']
--------------------------------------------------
['Alaska' nan]
['BET']
--------------------------------------------------
[nan 'Texas']
['MFE']
--------------------------------------------------
['Wyoming' nan]
['CPR']
--------------------------------------------------
['Florida' nan]
['TLH']
--------------------------------------------------
['Montana' nan]
['HLN']
--------------------------------------------------
['Washington' nan]
['EAT']
--------------------------------------------------
['Alaska' nan]
['FAI']
--------------------------------------------------
[nan 'Wisconsin']
['MSN']
--------------------------------------------------
['Indiana' nan]
['SBN']
--------------------------------------------------
['New York' nan]
['HPN']
--------------------------------------------------
['Michigan' nan]
['MQT']
--------------------------------------------------
['Idaho' nan]
['PIH']
--------------------------------------------------
['Vermont' nan]
['BTV']
--------------------------------------------------
['Georgia' nan]
['AGS']
--------------------------------------------------
['Colorado' nan]
['EGE']
--------------------------------------------------
['Alaska' nan]
['YAK']
--------------------------------------------------
['Minnesota' nan]
['BRD']
--------------------------------------------------
['Michigan' nan]
['TVC']
--------------------------------------------------
['Iowa' nan]
['ALO']
--------------------------------------------------
['Florida' nan]
['VPS']
--------------------------------------------------
['Texas' nan]
['BRO']
--------------------------------------------------
['New Jersey' nan]
['TTN']
--------------------------------------------------
['Arizona' nan]
['FLG']
--------------------------------------------------
['Missouri' nan]
['JLN']
--------------------------------------------------
['Missouri' nan]
['CGI']
--------------------------------------------------
['Illinois' nan]
['RFD']
--------------------------------------------------
[nan 'Illinois']
['BLV']
--------------------------------------------------
['Wyoming' nan]
['COD']
--------------------------------------------------
['Maryland' nan]
['SBY']
--------------------------------------------------
['Massachusetts' nan]
['ORH']
--------------------------------------------------
['Mississippi' nan]
['PIB']
--------------------------------------------------
['Colorado' nan]
['MTJ']
--------------------------------------------------
['Nebraska' nan]
['LBF']
--------------------------------------------------
['Oregon' nan]
['MFR']
--------------------------------------------------
[nan 'Iowa']
['SUX']
--------------------------------------------------
['North Dakota' nan]
['ISN']
--------------------------------------------------
['Wisconsin' nan]
['LSE']
--------------------------------------------------
['Illinois' nan]
['CMI']
--------------------------------------------------
['Michigan' nan]
['LAN']
--------------------------------------------------
['Arizona' nan]
['TUS']
--------------------------------------------------
['South Dakota' nan]
['ABR']
--------------------------------------------------
['Alabama' nan]
['MOB']
--------------------------------------------------
[nan 'Wisconsin']
['RHI']
--------------------------------------------------
['Colorado' nan]
['GJT']
--------------------------------------------------
['Alaska' nan]
['SIT']
--------------------------------------------------
['Colorado' nan]
['HDN']
--------------------------------------------------
['Hawaii' nan]
['MKK']
--------------------------------------------------
['Alaska' nan]
['ADQ']
--------------------------------------------------
['Kansas' nan]
['MHK']
--------------------------------------------------
['Alaska' nan]
['OME']
--------------------------------------------------
['Minnesota' nan]
['DLH']
--------------------------------------------------
['Massachusetts' nan]
['MVY']
--------------------------------------------------
['New York' nan]
['SWF']
--------------------------------------------------
['Arizona' nan]
['YUM']
--------------------------------------------------
[nan 'Hawaii']
['LNY']
--------------------------------------------------
['Virginia' nan]

In [65]:
dum = data[data['Destination_Airport_ID'] == id]['Destination_State'].unique()
dum = dum.tolist()
dum.remove(np.nan)
dum

['Kentucky']

In [152]:
df['Airline'].unique()

array(['Southwest Airlines Co.', 'SkyWest Airlines Inc.',
       'American Airlines Inc.', 'United Air Lines Inc.',
       'Republic Airlines', 'ExpressJet Airlines Inc.',
       'Delta Air Lines Inc.', 'Air Wisconsin Airlines Corp',
       'Horizon Air', 'JetBlue Airways', 'Spirit Air Lines',
       'Alaska Airlines Inc.', 'Mesa Airlines Inc.',
       'Frontier Airlines Inc.', 'Trans States Airlines',
       'Endeavor Air Inc.', 'Comair Inc.', 'Capital Cargo International',
       'Envoy Air', 'Hawaiian Airlines Inc.', 'Allegiant Air', nan,
       'Virgin America', 'Peninsula Airways Inc.', 'Compass Airlines',
       'GoJet Airlines, LLC d/b/a United Express',
       'Commutair Aka Champlain Enterprises, Inc.',
       'Empire Airlines Inc.', 'Cape Air'], dtype=object)

In [72]:
for id in data['Carrier_ID(DOT)'].unique():
    print(data[data['Carrier_ID(DOT)'] == id][['Carrier_Code(IATA)', 'Distance']].value_counts())
    print('-'*50)

Carrier_Code(IATA)  Distance
WN                  337.0       2199
                    239.0       1565
                    325.0       1531
                    255.0       1364
                    369.0       1253
                                ...
                    1306.0         1
                    1128.0         1
                    352.0          1
                    1091.0         1
                    1368.0         1
Length: 625, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  109.0       614
                    391.0       597
                    73.0        582
                    125.0       533
                    250.0       511
                               ...
                    1077.0        1
                    778.0         1
DL                  1066.0        1
AS                  1050.0        1
UA                  371.0         1
Length: 969, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AA                  1235.0      829
                    328.0       749
                    280.0       708
                    733.0       708
                    507.0       704
                               ...
                    690.0         1
                    1225.0        1
                    1300.0        1
                    1569.0        1
                    522.0         1
Length: 396, dtype: int64
--------------------------------------------------
Series([], dtype: int64)
--------------------------------------------------
Carrier_Code(IATA)  Distance
DL                  214.0       548
UA                  488.0       542
                    319.0       541
                    416.0       514
DL                  184.0       462
                               ...
                    932.0         1
                    759.0         1
UA                  1068.0        1
AA                  318.0         1
DL                  334.0         1
Length: 535, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  201.0       463
                    419.0       419
                    429.0       365
                    310.0       319
                    427.0       294
                               ...
DL                  357.0         1
                    383.0         1
                    640.0         1
UA                  861.0         1
                    1437.0        1
Length: 342, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
DL                  594.0       1350
                    214.0       1132
                    404.0       1011
                    762.0        892
                    689.0        860
                                ...
                    818.0          1
                    1014.0         1
                    871.0          1
                    945.0          1
                    833.0          1
Length: 444, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  67.0        612
                    240.0       375
                    177.0       328
                    323.0       297
                    401.0       256
                               ...
                    534.0         2
                    646.0         1
                    483.0         1
                    182.0         1
                    334.0         1
Length: 131, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AS                  129.0       1204
                    224.0        767
                    279.0        539
                    172.0        413
                    399.0        402
                                ...
                    236.0          3
                    373.0          2
                    1119.0         1
                    1589.0         1
                    342.0          1
Length: 116, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
B6                  2475.0      872
                    399.0       871
                    944.0       696
                    1237.0      625
                    1069.0      620
                               ...
                    1417.0        5
                    1871.0        2
                    1077.0        1
                    1843.0        1
                    1693.0        1
Length: 193, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
NK                  925.0       383
                    581.0       367
                    1076.0      363
                    861.0       323
                    1055.0      310
                               ...
                    583.0         4
                    959.0         2
                    945.0         2
                    1608.0        1
                    950.0         1
Length: 260, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AS                  1448.0      1124
                    954.0        955
                    679.0        837
                    337.0        728
                    1050.0       601
                                ...
                    590.0          6
                    2172.0         5
                    479.0          5
                    1626.0         1
                    372.0          1
Length: 187, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  862.0       1542
                    2565.0      1133
                    337.0       1081
                    733.0       1065
                    1846.0      1065
                                ...
                    563.0          1
                    585.0          1
                    986.0          1
                    84.0           1
                    980.0          1
Length: 403, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  224.0       495
                    395.0       433
                    441.0       414
                    429.0       370
AA                  328.0       353
                               ...
                    647.0         1
                    621.0         1
                    853.0         1
UA                  579.0         1
                    901.0         1
Length: 214, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
F9                  1476.0      313
                    628.0       299
                    862.0       276
                    861.0       275
                    391.0       252
                               ...
                    1608.0        2
                    609.0         1
                    1169.0        1
                    317.0         1
                    869.0         1
Length: 409, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  286.0       306
                    258.0       223
                    196.0       212
                    303.0       210
                    230.0       209
                               ...
                    403.0         1
                    630.0         1
                    654.0         1
                    655.0         1
                    1210.0        1
Length: 167, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AA                  335.0       819
                    221.0       532
                    75.0        470
                    157.0       439
                    213.0       406
                               ...
                    868.0         1
                    279.0         1
                    364.0         1
                    289.0         1
                    280.0         1
Length: 187, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
DL                  296.0       357
                    264.0       291
                    335.0       285
                    152.0       283
                    596.0       275
                               ...
                    895.0         1
                    1042.0        1
                    908.0         1
                    954.0         1
                    113.0         1
Length: 290, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AA                  155.0       404
                    212.0       320
                    198.0       311
                    84.0        277
                    413.0       250
                               ...
                    629.0         2
                    280.0         2
                    268.0         1
                    583.0         1
                    490.0         1
Length: 90, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AA                  296.0       548
                    304.0       424
                    364.0       404
                    335.0       382
                    264.0       381
                               ...
                    612.0         1
                    700.0         1
                    737.0         1
                    761.0         1
                    75.0          1
Length: 272, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
HA                  100.0       2226
                    163.0       1622
                    102.0       1548
                    216.0       1193
                    201.0        319
                    84.0         247
                    2556.0       247
                    2762.0       235
                    121.0        182
                    2349.0       109
                    2398.0       106
                    2614.0       106
                    2677.0       103
                    2409.0       100
                    2640.0        98
                    2917.0        95
                    2338.0        95
                    2615.0        94
                    263.0         93
                    2417.0        91
                    2603.0        89
                    2486.0        88
                    2355.0        84
                    4983.0        84
                    2462.0        82
                    2562.0        80
                    2541.0        78
                    2504.0        71
                    2569.0        67
                    2457.0        52
                    2404.0        27
                    5095.0        25
                    2599.0        22
dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
G4                  954.0       227
                    660.0       175
                    359.0       148
                    932.0       120
                    477.0       119
                               ...
                    295.0         1
                    1160.0        1
                    1071.0        1
                    933.0         1
                    892.0         1
Length: 397, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
VX                  337.0       125
                    414.0        77
                    447.0        73
                    2475.0       64
                    954.0        59
                    236.0        57
                    679.0        56
                    2586.0       47
                    421.0        37
                    550.0        37
                    1246.0       35
                    2565.0       34
                    1476.0       32
                    2454.0       31
                    967.0        28
                    2343.0       26
                    2704.0       22
                    2611.0       21
                    1504.0       21
                    2288.0       20
                    2419.0       17
                    2402.0       16
                    1184.0       16
                    2457.0       16
                    1846.0       16
                    2218.0       16
                    2338.0       16
                    1911.0       15
                    2521.0       15
                    2486.0       15
                    2367.0       14
                    1744.0       13
                    1943.0       12
                    1969.0       12
                    2442.0       12
                    2248.0       11
                    2556.0        9
                    2398.0        9
                    2400.0        8
                    2584.0        8
                    1670.0        7
                    2446.0        5
                    867.0         3
                    834.0         3
                    1739.0        2
dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AS                  792.0       126
dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
AA                  337.0       412
DL                  308.0       350
AA                  308.0       307
DL                  370.0       300
AA                  954.0       278
                               ...
                    666.0         2
DL                  923.0         2
                    231.0         1
                    1363.0        1
                    543.0         1
Length: 95, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
DL                  332.0       282
UA                  258.0       272
DL                  440.0       224
                    416.0       219
                    610.0       173
                               ...
UA                  1233.0        1
                    628.0         1
DL                  726.0         1
                    236.0         1
                    596.0         1
Length: 227, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  284.0       501
                    143.0       370
                    282.0       274
                    212.0       270
                    195.0       208
                               ...
                    343.0         1
                    182.0         1
                    773.0         1
                    258.0         1
                    239.0         1
Length: 85, dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
HA                  72.0        397
                    84.0        274
                    54.0        253
                    16.0         10
                    46.0          7
                    27.0          3
dtype: int64
--------------------------------------------------
Carrier_Code(IATA)  Distance
UA                  129.0       82
                    56.0        16
                    73.0        14
dtype: int64
--------------------------------------------------

In [66]:
data

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN